body{
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}
.header{
    top: 0;
    position: relative;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../image/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-top{
    position: fixed;
    width: 100%; 
    z-index: 10;
}
.information-header{
    position: relative;
    min-height: 4vh;
    background-color: rgb(12, 12, 34);
    padding: 8px 5%;
}
.inf-header-list{
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style: none;
}
.top-icons{
    color: red;
    font-size: 13px;
}
.inf-prop{
    color: white;
    letter-spacing: 2px;
    font-size: 13px;
}
.t-navbar{
    width: 100%; 
    z-index: 10;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 8vh;
    background-color: rgb(0, 0, 0);
    padding: 20px 5%;
    opacity: 0.9;
    transition: background-color .5s ease-in-out;
}
.t-nav-logo{
    width: 35%;
}
.t-nav-logo a{
    color: red;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
}
.t-nav-menu{
    width: 65%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.t-nav-menu li{
    position: relative;
    overflow: hidden;
}
.t-nav-menu li a{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.t-nav-menu li:hover a{
    color: red;
}
.t-nav-menu li::before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background:#ff304d;
    height: 2px;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.t-nav-menu li:hover::before,.t-nav-menu li:focus::before{
    left: 0;
    right: 0;
}
.t-nav-btn{
    cursor: pointer;
    display: none;
    padding: 10px 0px;
}
.t-nav-btn-lines{
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    transition: all .5s ease-in-out;
}
.t-nav-btn-lines::before, .t-nav-btn-lines::after{
    content: '';
    width: 25px;
    position: absolute;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    transition: all .5s ease-in-out;
}
.t-nav-btn-lines::before{
    transform: translateY(-8px);
}
.t-nav-btn-lines::after{
    transform: translateY(8px);
}
.t-nav-btn.open .t-nav-btn-lines{
    transform: translateX(-50px);
    background: transparent;
} 
.t-nav-btn.open  .t-nav-btn-lines::after{
    transform: rotate(-45deg) translate(35px, 35px);
}
.t-nav-btn.open  .t-nav-btn-lines::before{
    transform: rotate(45deg) translate(35px, -35px);
}
@media only screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .menu{
        display: flex;
        justify-content: flex-start;
    }
    .t-nav-btn{
        display: block;
    }
    .t-nav-menu{
        width: 85%;
        top: 8.7vh;
        right: 0;
        height: 91.3vh;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        list-style: none;
        align-items: center;
        position: absolute;
        background-color: rgb(0, 0, 0);
        opacity: 0.9;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;
    }
    .t-nav-links{
        opacity: 0;
    }
    .t-nav-menu.t-nav-menu-toggle{
        transform: translateX(0%);
    }
    .information-header{
        display: none;
    }
    @keyframes linksopacity {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

}
.container{
    width: 100%;
    height: 100vh;
    background-color: tomato;
}
.t-header-bottom{
    position: relative;
    top: 100px;
    display: flex;
    width: 100%;
    overflow: hidden;
    padding: 5%;
    justify-content: space-between;
    align-items: center;
}
.t-header-bottom-l{
    width: 70%;
    padding: 0px 2%;
    min-height: 480px;
    overflow: hidden;

}
.t-header-l-heading,.t-header-r-heading{
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.t-header-l-heading h2{
    font-size: 30px;
    font-weight: bold;
}
.t-header-l-btn{
    margin: 20px 0px 0px 0px;
}
.t-header-l-btn-c{
    width: 150px;
    height: 40px;
    border: none;
    background-color: red;
    letter-spacing: 1px;
}
.t-header-bottom-l-btm{
    margin-top: 50px;
}
.t-header-l-par p{
    color: white;
    letter-spacing: 2px;
    font-size: 17px;
}
.t-header-bottom-r{
    width: 30%;
    min-height: 470px;
    padding: 20px 2%;
    background-color: rgb(0, 0, 0,0.3);
    border-radius: 5px;
}
.t-header-r-heading-span{
    color: red;
    font-size: 20px;
}
.t-header-r-heading h2{
    font-size: 25px;
    font-weight: bold;
}
.t-header-r-par{
    margin-top: 10px;
    letter-spacing: 2px;
    color: white;
}
.t-header-r-form{
    width: 100%;
    margin: auto;
}
.t-form-header-r,.t-form-header-r-s{
    width: 100%;
    height: 40px;
    margin: 2px 0px;
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
}
.t-form-header-r{
    padding-left: 10px; 
}
.t-form-header-r{
    height: 40px;
}
.t-form-header-r-b{
    height: 45px;
    width: 100%;
    background-color: red;
    border: none;
    margin-top: 6px;
}
.t-form-header-r:focus,.t-form-header-r-s:focus{
    border: 1px solid red;
}
@media only screen and (max-width: 768px) {
    .header{
        min-height: 160vh;
    }
    .t-header-bottom{
        padding: 10%;
        flex-direction: column;
    }
    .t-header-bottom-l{
        width: 100%;
    }
    .t-header-bottom-r{
        width: 100%;
    }
}